
services:
  nginx-proxy:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./jp-cosmetics-backend:/var/www/backend:ro
    depends_on:
      - frontend
      - backend
    restart: always
    networks:
      - app-network

  frontend:
    build:
      context: ./jp-cosmetics-frontend
    container_name: frontend
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_BASE_URL: /api/v1
    expose:
      - "3000"
    restart: always
    networks:
      - app-network

  backend:
    build:
      context: ./jp-cosmetics-backend
    container_name: backend
    working_dir: /var/www/backend
    volumes:
      - ./jp-cosmetics-backend:/var/www/backend
    command: php-fpm
    expose:
      - "9000"
    restart: always
    networks:
      - app-network
    depends_on:
      - db

  queue:
    build:
      context: ./jp-cosmetics-backend
    container_name: queue
    working_dir: /var/www/backend
    volumes:
      - ./jp-cosmetics-backend:/var/www/backend
    command: php artisan queue:work --verbose --tries=3 --timeout=90
    restart: always
    depends_on:
      - db
    environment:
      - QUEUE_CONNECTION=database
    networks:
      - app-network

  db:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword
      MYSQL_DATABASE: jp-cosmetics
    volumes:
      - dbdata:/var/lib/mysql
    restart: always
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge
